# This file contains the list of default owners for the repo.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                             @math-fehr @webmiche @georgebisbas

# nobody owns experimental by default
/xdsl/dialects/experimental
/xdsl/transforms/experimental

# xDSL core
xdsl/*                        @math-fehr @webmiche
xdsl/utils/**                 @math-fehr @superlopuh

# xdsl-opt tool
xdsl/tools/**                 @math-fehr @webmiche

# xDSL dialects
xdsl/dialects/*               @math-fehr @webmiche

# xDSL RISCV dialects
xdsl/dialects/riscv*          @AntonLydike @superlopuh @compor @nazavode

# xDSL RISCV extension dialects
xdsl/dialects/snitch.py       @nazavode
xdsl/transforms/*snitch*      @nazavode

# xDSL frontend
xdsl/frontend/**              @webmiche

# xDSL documentation
docs/**                       @math-fehr @webmiche @superlopuh @compor

# xDSL benchmarks
bench/**                      @math-fehr @superlopuh

# xDSL CI
.github/workflows/**          @webmiche

# MPI, Stencil and others
xdsl/dialects/stencil.py      @PapyChacal @AntonLydike @meshtag
xdsl/dialects/mpi.py          @AntonLydike
xdsl/dialects/gpu.py          @PapyChacal
xdsl/transforms/lower_mpi.py  @AntonLydike

# Vector dialect
xdsl/dialects/vector.py       @meshtag

# Pass pipeline parser
xdsl/utils/parse_pipeline.py  @AntonLydike
