# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-yaml
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.278
    hooks:
    -   id: ruff
        types_or: [
            python, 
            pyi, 
            # jupyter, # https://github.com/xdslproject/xdsl/issues/1273
            ]
        args: [ --fix, --exit-non-zero-on-fix ]
-   repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    -   id: black
