[build-system]
requires = ["setuptools>=42", "wheel"]

[tool.pyright]
reportImportCycles = false
enableTypeIgnoreComments = false
typeCheckingMode = "strict"
"include" = ["docs", "xdsl", "tests", "bench"]
"exclude" = [
    "tests/test_frontend_op_resolver.py",
    "tests/test_frontend_python_code_check.py",
    "tests/dialects/test_memref.py",
    "xdsl/interpreters/experimental/wgpu.py",
]
"ignore" = [
    "tests/filecheck/frontend/dialects/builtin.py",
    "tests/filecheck/frontend/dialects/invalid.py",
    "tests/filecheck/frontend/dialects/arith.py",
    "tests/filecheck/frontend/dialects/scf.py",
    "tests/filecheck/frontend/programs/invalid.py",
    "xdsl/_version.py",
]

[tool.isort]
profile = "black"

[tool.ruff]
select = ["E", "F", "W", "I", "UP", "PT"]
ignore = [
    "E741",  # https://beta.ruff.rs/docs/rules/ambiguous-variable-name/
    "PT006", # https://beta.ruff.rs/docs/rules/pytest-parametrize-names-wrong-type/
    "PT007", # https://beta.ruff.rs/docs/rules/pytest-parametrize-values-wrong-type/
    "PT011", # https://beta.ruff.rs/docs/rules/pytest-raises-too-broad/
    "PT015", # https://beta.ruff.rs/docs/rules/pytest-assert-always-false/
]
line-length = 300
target-version = "py310"

[tool.ruff.per-file-ignores]
"__init__.py" = ["F403"]
"tests/filecheck/frontend/programs/invalid.py" = ["F811", "F841"]
"tests/filecheck/frontend/dialects/invalid.py" = ["F811"]
"tests/test_declarative_assembly_format.py" = ["F811"]
"versioneer.py" = ["ALL"]
"_version.py" = ["ALL"]

[tool.ruff.mccabe]
max-complexity = 10
