[build-system]
requires = ["setuptools>=42", "wheel"]

[tool.pyright]
reportImportCycles = false
typeCheckingMode = "strict"
"include" = ["docs", "xdsl", "tests", "bench"]
"exclude" = [
    "tests/test_frontend_op_resolver.py",
    "tests/test_frontend_python_code_check.py",
    "tests/dialects/test_memref.py",
    "tests/dialects/test_mpi.py",
]
"ignore" = [
    "tests/filecheck/frontend/dialects/builtin.py",
    "tests/filecheck/frontend/dialects/invalid.py",
    "tests/filecheck/frontend/programs/invalid.py",
]
