[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[tool.pyright]
include = ["src"]
reportImportCycles = false
reportUnnecessaryIsInstance = false
