AddArguments{
    background: rgba(100,100,100,0.5);
    align: center middle;
    layout: vertical;
}

# Horizontal(Vertical(...), Vertical(...), Horizontal(Button, Button, Button))
#top_level{
    border: heavy $warning;
    border-title-color: $warning;
    border-title-style: bold;
    border-title-align: center;
    width: 85%;
    height: 50%;
}

# Horizontal(Button, Button, Button)
#cancel_enter_buttons{
    layout: horizontal;
    height: auto;
}

Button{
    border: $warning;
}
