# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI - Python-based Testing

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11']

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Upgrade pip
      run: |
        pip install --upgrade pip

    - name: Install the package locally
      run: pip install -e ".[extras]"

    - name: Test with pytest
      run: |
        pytest -W error

    - name: Execute lit tests
      run: |
        export PYTHONPATH=$(pwd)
        lit -v tests/filecheck/
        lit -v docs/Toy/examples/
