# This workflow will install MLIR, Python dependencies, run tests and lint with a single version of Python

name: CI - MLIR-based Testing

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # https://github.com/xdslproject/llvm-docker/pkgs/container/llvm
    container: ghcr.io/xdslproject/llvm:21.1.1
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    env:
      LLVM_SYMBOLIZER_PATH: /usr/lib/llvm-11/bin/llvm-symbolizer
      COLLECT_COVERAGE: ${{ matrix.python-version == '3.13' }}
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 2

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install the package locally and nbval
      run: make venv

    - name: Test with pytest and generate code coverage
      run: |
        if [ "$COLLECT_COVERAGE" = "true" ]; then
          uv run pytest -W error --cov
        else
          uv run pytest -W error
        fi

    - name: Execute lit tests
      run: |
        # Add mlir-opt to the path
        export PATH=$PATH:${GITHUB_WORKSPACE}/llvm-project/build/bin/
        if [ "$COLLECT_COVERAGE" = "true" ]; then
          uv run lit -v tests/filecheck/ -DCOVERAGE
          uv run lit -v docs/Toy/examples/ -DCOVERAGE
        else
          uv run lit -v tests/filecheck/
          uv run lit -v docs/Toy/examples/
        fi

    - name: Test MLIR dependent examples/tutorials
      run: |
        # Add mlir-opt to the path
        export PATH=$PATH:${GITHUB_WORKSPACE}/llvm-project/build/bin/
        make tests-marimo

    - name: Combine coverage data
      if: matrix.python-version == '3.13'
      run: |
        uv run coverage combine --append
        uv run coverage report
        uv run coverage xml

    - name: Upload coverage to Codecov
      if: matrix.python-version == '3.13'
      uses: Wandalen/wretry.action@v3
      with:
        action: codecov/codecov-action@v4
        attempt_delay: 10000
        attempt_limit: 10
        with: |
          fail_ci_if_error: true
          verbose: true
          files: coverage.xml
          codecov_yml_path: codecov.yml
          token: ${{ secrets.CODECOV_TOKEN }}
