# This workflow check the format all files in the repository
# * It checks that all nonempty files have a newline at the end
# * It checks that there are no whitespaces at the end of lines
# * It checks that Python files are formatted with ruff

name: Code Formatting

on:
  pull_request:
  push:
    branches: [main]

jobs:
  code-formatting:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"

    - name: Set up Python 3.13
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Generate Python type stubs
      run: uv run xdsl-stubgen

    - name: Run code formatting checks with pre-commit
      uses: pre-commit/action@v3.0.1
