name: Upload to PyPI

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v3

    - name: Set up Python
      run: uv python install 3.11

    - name: Create the virtual environment
      run: |
        # Change directory so that xdsl-opt can be found during installation.
        cd xdsl
        VENV_EXTRAS="--all-extras" make venv

    - name: Install dependencies
      run: |
        uv pip install setuptools wheel

    - name: Build and publish
      run: |
        uv run setup.py sdist bdist_wheel
        uv tool run twine upload -u __token__ -p ${{ secrets.PYPI_XDSL_TOKEN }} dist/*
